.megaConte {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.subMegaConte {
  width: 80%;
}

.child1 {
  display: flex;
  justify-content: flex-end;
}

.child2 {
  display: flex;
  gap: 20px;
}

.links {
  text-decoration: none;
  color: blue;
}

.version {
  font-size: 12px;
  color: gray;
}

.conteAgregar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subConteAgregar2 {
  cursor: pointer;
}

.conteAgregar2 {
  margin-top: 20px;
}

.conteAgregar3 {
  margin-top: 20px;
}

.paginationContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.paginationButton {
  cursor: pointer;
  padding: 5px 10px;
  margin: 0 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.paginationButton.active {
  background-color: #007bff;
  color: #fff;
}

.paginationButton:hover {
  background-color: #007bff;
  color: #fff;
}

.paginationButton.disabled {
  cursor: not-allowed;
  color: #999;
}